# Created by .ignore support plugin (hsz.mobi)
将删除 .idea/compiler.xml
将删除 .idea/encodings.xml
将删除 .idea/inspectionProfiles/
将删除 .idea/misc.xml
将删除 .idea/uiDesigner.xml
将删除 .idea/workspace.xml
将删除 pom.xml
将删除 smartframework.iml
将删除 src/
将删除 target/
